services:
  org:
    image: ghcr.io/hopps-app/hopps/org:395
    ports:
      - "8101:8080"
    depends_on:
      - postgres
      - keycloak
    environment:
      - QUARKUS_DATASOURCE_USERNAME=postgres
      - QUARKUS_DATASOURCE_PASSWORD=postgres
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://postgres:5432/org
      - QUARKUS_KEYCLOAK_ADMIN_CLIENT_ENABLED=false
      - QUARKUS_KEYCLOAK_ADMIN_CLIENT_SERVER_URL=http://keycloak:8080/
      - QUARKUS_OIDC_AUTH_SERVER_URL=http://keycloak:8080/realms/hopps
      - QUARKUS_OIDC_CREDENTIALS_SECRET=mysecret
      - QUARKUS_OIDC_CLIENT_ID=hopps
      - QUARKUS_OIDC_TLS_VERIFICATION=none
      - QUARKUS_OIDC_ENABLED=false
      - QUARKUS_HTTP_AUTH_PERMISSION_REST_POLICY=permit
      - QUARKUS_OPENFGA_URL=http://openfga:8080
      - QUARKUS_OPENFGA_STORE_ID=01JM0XYZABCDEFGHIJKLMNOPQR

  az-document-ai:
    image: ghcr.io/hopps-app/hopps/az-document-ai:${TAG:-395}
    ports:
      - "8100:8080"
    environment:
      - HOPPS_AZURE_DOCUMENT_AI_ENDPOINT=${HOPPS_AZURE_DOCUMENT_AI_ENDPOINT}
      - HOPPS_AZURE_DOCUMENT_AI_KEY=${HOPPS_AZURE_DOCUMENT_AI_KEY}

  localstack:
    image: localstack/localstack

  postgres:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres_init.sql:/docker-entrypoint-initdb.d/postgres_init.sql
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.7
    command: start-dev --import-realm
    ports:
      - "8092:8080"
    depends_on:
      - postgres
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: postgres
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: 8092
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_HTTP_ENABLED: "true"
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - ./keycloak_default_realm.json:/opt/keycloak/data/import/keycloak.default.realm.json
      # Keycloak theme disabled - jar file is empty
      # - ../../frontend/keycloak-theme/dist_keycloak/keycloak-theme-for-kc-22-to-25.jar:/opt/keycloak/providers

volumes:
  postgres_data:
