.invoices-wrapper {
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 0.4s ease-out forwards;

}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.invoices-table {


  .ag-root-wrapper {
    border: none;
    border-radius: 15px 15px 0px 0px;
  }

  .amount-header {
    &>.ag-header-cell-comp-wrapper .ag-cell-label-container .ag-header-cell-label {
      display: flex;
      justify-content: center;
    }
  }
}