@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    hr {
        @apply border-t border-separator my-4;
    }
}


@layer base {
    :root {
        --primary: #9955CC;
        --primary-active: #b54ffb;
        --primary-foreground: #FFFFFF;
        --secondary: #000000;
        --secondary-foreground: #FFFFFF;
        --separator: #E5E5E5;
        --font-color: #000000;
        --font-family: "Public Sans", sans-serif;
        --body-background: #f5EEFA;
        --muted: #888888;
        --popover: #FFFFFF;
        --popover-foreground: #000000;
        --accent: #f1f1f1;
        --accent-foreground: #4a4a4a;
        --destructive: #aa0000;
        --destructive-foreground: #ffffff;
    }

    .dark {
        --primary: #9955CC;
        --primary-active: #b54ffb;
        --primary-foreground: #FFFFFF;
        --secondary: #000000;
        --secondary-foreground: #FFFFFF;
        --separator: #3f145d;
        --font-color: #FFFFFF;
        --font-family: "Public Sans", sans-serif;
        --body-background: #1C0C28;
        --muted: #888888;
        --popover: #FFFFFF;
        --popover-foreground: #000000;
        --accent: #3b1951;
        --accent-foreground: #FFFFFF;
        --destructive: #aa0000;
        --destructive-foreground: #ffffff;
    }
}

body {
    background: var(--body-background);
    color: var(--font-color);
}