@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    hr {
        @apply border-t border-separator my-4;
    }
}


@layer base {
    :root {
        --purple-50: #F5EEFA;
        --purple-100: #ECE0F6;
        --purple-200: #DAC1EC;
        --purple-300: #C7A2E3;
        --purple-400: #B583DA;
        --purple-500: #9955CC;
        --purple-600: #8D41C6;
        --purple-700: #7131A2;
        --purple-800: #552479;
        --purple-900: #391851;
        --purple-950: #1C0C28;

        --grey-black: #000000;
        --grey-900: #4E4E4E;
        --grey-800: #797979;
        --grey-700: #A7A7A7;
        --grey-600: #D5D5D5;
        --grey-500: #E5E5E5;
        --grey-400: #F5F5F5;
        --grey-white: #FFFFFF;

        --primary: var(--purple-500);
        --primary-active: #b54ffb;
        --primary-foreground: var(--grey-white);
        --hover-active: var(--purple-200);
        --secondary: var(--grey-black);
        --secondary-foreground: var(--grey-white);
        --separator: var(--grey-500);
        --font-color: var(--grey-black);
        --font-family: "Reddit Sans", reddit;
        --body-background: var(--purple-50);
        --background-secondary: var(--grey-white);
        --muted: #888888;
        --border: var(--grey-800);
        --popover: var(--grey-white);
        --popover-foreground: var(--grey-black);
        --accent: #f1f1f1;
        --accent-foreground: #4a4a4a;
        --destructive: #aa0000;
        --destructive-foreground: var(--grey-white);
        --border-line: var(--grey-700);
        --hover-effect: var(--grey-400);
        --radius: 8px;
        --font: 16px;
        --btn-radius: 10px;
    }

    .dark {
        --purple-50: #1C0C28;
        --purple-100: #391851;
        --purple-200: #552479;
        --purple-300: #7131A2;
        --purple-400: #8D41C6;
        --purple-500: #9955CC;
        --purple-600: #B583DA;
        --purple-700: #C7A2E3;
        --purple-800: #DAC1EC;
        --purple-900: #ECE0F6;
        --purple-950: #F5EEFA;

        --grey-black: #000000;
        --grey-900: #4E4E4E;
        --grey-800: #797979;
        --grey-700: #A7A7A7;
        --grey-600: #D5D5D5;
        --grey-500: #E5E5E5;
        --grey-400: #F5F5F5;
        --grey-white: #FFFFFF;

        --primary: var(--purple-500);
        --primary-active: #b54ffb;
        --primary-foreground: var(--grey-white);
        --hover-active: var(--purple-950);
        --secondary: var(--grey-black);
        --secondary-foreground: var(--grey-white);
        --separator: var(--purple-800);
        --font-color: var(--grey-white);
        --font-family: "Reddit Sans", reddit;
        --body-background: var(--purple-50);
        --background-secondary: var(--purple-100);
        --muted: #888888;
        --border: var(--grey-800);
        --popover: var(--grey-white);
        --popover-foreground: var(--grey-black);
        --accent: var(--purple-900);
        --accent-foreground: var(--grey-white);
        --destructive: #aa0000;
        --destructive-foreground: var(--grey-white);
        --hover-effect: #1a1a1a;
        --border-line: var(--grey-800);
        --radius: 8px;
        --font: 16px;
        --btn-radius: 10px;
    }
}

body {
    background: var(--body-background);
    color: var(--font-color);
    font-family: var(--font-family);
}
