version: '3'

services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      - 8000:8000
      - 9443:9443
    volumes:
      - /portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
    portainer_data:
