{
  "ignores": ["dist"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "prettier"
  ],
  "overrides": [
    {
      "files": ["**/*.{ts,tsx}"],
      "parserOptions": {
        "ecmaVersion": 2020,
        "ecmaFeatures": {
          "jsx": true
        },
        "sourceType": "module"
      },
      "globals": {
        "window": "readonly",
        "document": "readonly",
        "navigator": "readonly",
        "console": "readonly",
        "location": "readonly",
        "fetch": "readonly",
        "localStorage": "readonly",
        "sessionStorage": "readonly",
        "setTimeout": "readonly",
        "clearTimeout": "readonly",
        "setInterval": "readonly",
        "clearInterval": "readonly",
        "requestAnimationFrame": "readonly",
        "cancelAnimationFrame": "readonly"
      },
      "plugins": [
        "react-hooks",
        "react-refresh",
        "prettier",
        "jest"
      ],
      "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react-refresh/only-export-components": [
          "warn",
          { "allowConstantExport": true }
        ],
        "prettier/prettier": "error"
      }
    }
  ]
}