apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hopps.azDocumentAiFullname" . }}
  labels:
    {{- include "hopps.azDocumentAiLabels" . | nindent 4 }}
spec:
  {{- if not .Values.azDocumentAi.autoscaling.enabled }}
  replicas: {{ .Values.azDocumentAi.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "hopps.azDocumentAiSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.azDocumentAi.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "hopps.azDocumentAiSelectorLabels" . | nindent 8 }}
        {{- with .Values.azDocumentAi.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.azDocumentAi.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.azDocumentAi.serviceAccount.create }}
      serviceAccountName: {{ .Values.azDocumentAi.serviceAccount.name | default (include "hopps.azDocumentAiFullname" .) }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.azDocumentAi.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          {{- if .Values.azDocumentAi.envVars }}
          env:
            {{- toYaml .Values.azDocumentAi.envVars | nindent 12 }}
          {{- end }}
          securityContext:
            {{- toYaml .Values.azDocumentAi.securityContext | nindent 12 }}
          image: "{{ .Values.azDocumentAi.image.repository }}:{{ .Values.azDocumentAi.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.azDocumentAi.image.pullPolicy }}
          {{- with .Values.azDocumentAi.envFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.azDocumentAi.service.port }}
              protocol: TCP
            - name: management
              containerPort: 9000
              protocol: TCP
          livenessProbe:
            {{- toYaml .Values.azDocumentAi.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.azDocumentAi.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.azDocumentAi.resources | nindent 12 }}
          {{- with .Values.azDocumentAi.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.azDocumentAi.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.azDocumentAi.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.azDocumentAi.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.azDocumentAi.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
