@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:wght@400;500;600;700&display=swap");

/* Background */
.login-pf body {
    background-image: radial-gradient(
            93.53% 64.63% at 32.28% 42.06%,
            rgba(245, 245, 245, 0.3) 0%,
            rgba(85, 36, 121, 0.3) 100%
        ),
        linear-gradient(112deg, #552479 0.83%, #9753c9 35.34%, #ece0f6 84.05%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Reddit Sans", sans-serif;
}

/* Centered card */
.kcFormCardClass {
    border-radius: 1.5rem;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    padding: 2.5rem;
    width: 100%;
    max-width: 480px;
    margin: auto;
}

.login-pf-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 2rem;
    box-sizing: border-box;
}

.card-pf {
    margin-top: 0 !important; /* override if needed */
    border-top: none;
}
/* Logo */

#kc-header,
.kcHeaderClass,
.kcFormHeaderClass {
    display: none !important;
}

#kc-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    gap: 30px;
    letter-spacing: normal;
    padding: 0;
    .custom-subtitle {
        color: var(--Grey-3, #797979);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        text-transform: none;
    }
}

#kc-header {
    font-size: 2rem;
    font-weight: 700;
    color: #7a2cbf;
}

/* Title */
#kc-page-title {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    color: #333;
}

/* Input labels */
.kcLabelClass {
    color: #000;
    font-family: "Reddit Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

/* Inputs */
input[type="text"],
input[type="password"] {
    position: relative;
    border-radius: 0.5rem;
    border: 1px solid var(--Grey-4, #a7a7a7);
    background: var(--Grey-8, #fff);
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.15);
    outline: none;
    font-size: 14px;
}
.pf-c-form-control[aria-invalid="true"] {
    background-image: none !important;
    background-color: #ffe6e6;
    border-color: #aa0000 !important; 
    box-shadow: none !important;
  }
.pf-c-input-group {
    position: relative;
}
.pf-c-button.pf-m-control {
    position: absolute;
    right: 0px;
    background: none;
    border: none;
    &::after {
        border: none;
    }
    --pf-c-button--m-control--Color: #888888;
    &:focus {
        --pf-c-button--m-control--Color: #888888;
    }
}

/* Checkbox + forgot */
.kcFormOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size: 0.85rem;
}
.kcFormOptions label {
    font-weight: 400;
}
.kcFormOptions a {
    color: #7a2cbf;
    font-weight: 500;
    text-decoration: none;
}
.kcFormOptionsWrapperClass {
    a {
        color: #7a2cbf;
        font-style: normal;
        font-weight: 500;
    }
}
/* Sign in button */
#kc-login {
    background-color: #9955cc;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0.75rem;
    padding: 0.75rem;
    margin-top: 1.5rem;
    width: 100%;
}

#kc-login:hover {
    background-color: #552479;
}

/* Bottom register bar */
#kc-info {
    background: #f5f5f5;
    font-size: 0.85rem;
    padding: 1rem;
    text-align: center;
    border-radius: 0 0 1.5rem 1.5rem;
    margin-top: 1.5rem;
}
#kc-info a {
    color: #7a2cbf;
    font-weight: 600;
    margin-left: 4px;
}
