apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: hopps-dev
resources:
  - ../../base/hopps
  - namespace.yaml
  # ToDo: remove postgresql when everything is running
  #- postgresql.yaml
  # create database
  - cnpg-cluster.yaml
  - database.yaml
# patch files matching the environment
patches:
  - path: helm-release.yaml
# create all needed secrets with fix name
generatorOptions:
  disableNameSuffixHash: true
secretGenerator:
  - name: hopps-app
    envs:
      - secrets/hopps-app-secret-encrypted.env
  - name: az-document-ai
    envs:
      - secrets/az-document-ai-secret-encrypted.env
  - name: postgres-operator-secret
    envs:
      - secrets/postgres-cluster-secret-encrypted.env
  # database credentials
  - name: hopps-app-db-secret
    envs:
      - secrets/db/hopps-app-db-secret-encrypted.env
  - name: keycloak-db-secret
    envs:
      - secrets/db/keycloak-db-secret-encrypted.env
