name: Upload BOM to Dependency-Track

on:
  push:
    paths:
      - backend/**
      - .github/workflows/dependency-track-analysis.yml

jobs:
  upload-bom:
    if: ${{ !startsWith(github.ref, 'refs/heads/dependabot') }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        projectName:
          - "app.hopps.org"
          - "app.hopps.az-document-ai"
          - "app.hopps.zugferd"

    steps:
      # Checkout the code
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
          cache: maven

      - name: mvn makeAggregateBom
        run: mvn org.cyclonedx:cyclonedx-maven-plugin:2.8.0:makeBom --file backend/${{ matrix.projectName }}/pom.xml

      - name: Get current project version
        uses: avides/actions-project-version-check@v2.0.0
        id: project_version
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          file-to-check: "backend/${{ matrix.projectName }}/pom.xml"
          only-return-version: true

      # Upload the SBOM to Dependency-Track
      - name: Upload BOM to Dependency-Track
        uses: DependencyTrack/gh-upload-sbom@v3.1.0
        with:
          apiKey: ${{ secrets.DEPENDENCYTRACK_APIKEY }}
          serverHostname: "dtrack.hopps.cloud"
          bomFilename: "backend/${{ matrix.projectName }}/target/bom.xml"
          projectName: "${{ matrix.projectName }}"
          projectVersion: "${{ steps.project_version.outputs.version }}"
          autoCreate: true
