name: Dependency Track for frontend

on:
  push:
    paths:
      - frontend/**
      - .github/workflows/frontend-dependency-track.yaml
    branches: [ "**" ]
    tags:
      - 'spa-*.*.*'
  pull_request:
    paths:
      - frontend/**
      - .github/workflows/frontend-dependency-track.yaml
    branches:
      - main

jobs:
  build:
    if: ${{ !startsWith(github.ref, 'refs/heads/dependabot/maven/backend') }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        baseDirectory: [ "frontend/spa" ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install PNPM
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install
        working-directory: ${{ matrix.baseDirectory }}

      - name: Create sBom
        run: pnpm sbom
        working-directory: ${{ matrix.baseDirectory }}

      - name: Get current project version
        uses: avides/actions-project-version-check@v1.4.0
        id: project_version
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          file-to-check: "${{ matrix.baseDirectory }}/package.json"

      # Upload the SBOM to Dependency-Track
      - name: Upload BOM to Dependency-Track
        uses: DependencyTrack/gh-upload-sbom@v3.1.0
        with:
          apiKey: ${{ secrets.DEPENDENCYTRACK_APIKEY }}
          serverHostname: "dtrack.hopps.cloud"
          bomFilename: "${{ matrix.baseDirectory }}/bom.json"
          projectName: "${{ matrix.baseDirectory }}"
          projectVersion: "${{ steps.project_version.outputs.version }}"
          autoCreate: true