name: frontend

on:
  push:
    paths:
      - frontend/spa/**
      - frontend/api-client/**
      - .github/workflows/frontend.yml
    branches: [ "**" ]
    tags:
      - 'spa-*.*.*'
  pull_request:
    paths:
      - frontend/spa/**
      - frontend/api-client/**
      - .github/workflows/frontend.yml
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '18'

      - name: Install PNPM
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install
        working-directory: frontend

      - name: Build api-client
        run: pnpm run build
        working-directory: frontend/api-client

      - name: Run tests
        run: pnpm run validate
        working-directory: frontend/spa

      - name: Build project
        run: pnpm run build
        working-directory: frontend/spa
        env:
          VITE_TITLE: "VITE_TITLE_VALUE"
          VITE_GENERAL_DATE_FORMAT: "VITE_GENERAL_DATE_FORMAT_VALUE"
          VITE_GENERAL_CURRENCY_SYMBOL_AFTER: "VITE_GENERAL_CURRENCY_SYMBOL_AFTER_VALUE"
          VITE_KEYCLOAK_URL: "VITE_KEYCLOAK_URL_VALUE"
          VITE_KEYCLOAK_REALM: "VITE_KEYCLOAK_REALM_VALUE"
          VITE_KEYCLOAK_CLIENT_ID: "VITE_KEYCLOAK_CLIENT_ID_VALUE"
          VITE_API_ORG_URL: "VITE_API_ORG_URL_VALUE"
          VITE_API_FIN_URL: "VITE_API_FIN_URL_VALUE"

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build
          path: frontend/spa/dist/

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Determine Docker image tag
        id: get-version
        run: |
          if git describe --tags --exact-match 2>/dev/null; then
            TAG=$(git describe --tags --exact-match)
            echo "VERSION=${TAG#spa-}" >> $GITHUB_ENV
          else
            echo "VERSION=${GITHUB_RUN_NUMBER}" >> $GITHUB_ENV
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: frontend/spa
          file: frontend/spa/docker/Dockerfile
          push: ${{ !startsWith(github.ref, 'refs/heads/dependabot') }}
          tags: ghcr.io/${{ github.repository }}/frontend:${{ env.VERSION }}

      - name: Trigger deploy workflow
        uses: actions/github-script@v8
        # only trigger deployment on main
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github-token: ${{ secrets.TECHNICAL_USER_PAT }}
          script: |
            const result = await github.rest.actions.createWorkflowDispatch({
              owner: 'hopps-app',
              repo: 'hopps.cloud',
              workflow_id: 'deploy.yml',
              ref: 'main',
              inputs: {
                "environment": "dev",
                "new-tag": "${{ env.VERSION }}",
                "service-name": "frontend"
              }
            })
            console.log(result);