<cds-header aria-label="Hopps Buchhaltung">
  <cds-header-menu-button
    button-label-active="Menü schließen"
    button-label-inactive="Menü öffnen"
    onclick="toggleSideNav()">
  </cds-header-menu-button>
  <cds-header-name href="/" prefix="">
    <img src="/svg/logo.svg" alt="hopps" style="height: 32px; width: auto;">
  </cds-header-name>
  <cds-header-global-bar>
    <cds-header-global-action aria-label="Benachrichtigungen" tooltip-text="Benachrichtigungen">
      <svg slot="icon" viewBox="0 0 32 32" width="20" height="20">
        <path d="M28.707 19.293L26 16.586V13a10.014 10.014 0 0 0-9-9.95V1h-2v2.05A10.014 10.014 0 0 0 6 13v3.586l-2.707 2.707A1 1 0 0 0 3 20v3a1 1 0 0 0 1 1h7v.777a5.152 5.152 0 0 0 4.5 5.199A5.006 5.006 0 0 0 21 25v-1h7a1 1 0 0 0 1-1v-3a1 1 0 0 0-.293-.707ZM19 25a3 3 0 0 1-6 0v-1h6Zm8-3H5v-1.586l2.707-2.707A1 1 0 0 0 8 17v-4a8 8 0 0 1 16 0v4a1 1 0 0 0 .293.707L27 20.414Z"/>
      </svg>
    </cds-header-global-action>
    <cds-header-global-action aria-label="Profil" tooltip-text="Profil">
      <svg slot="icon" viewBox="0 0 32 32" width="20" height="20">
        <path d="M16 4a5 5 0 1 1-5 5 5 5 0 0 1 5-5m0-2a7 7 0 1 0 7 7 7 7 0 0 0-7-7ZM26 30h-2v-5a5 5 0 0 0-5-5h-6a5 5 0 0 0-5 5v5H6v-5a7 7 0 0 1 7-7h6a7 7 0 0 1 7 7Z"/>
      </svg>
    </cds-header-global-action>
  </cds-header-global-bar>
</cds-header>
